body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background: rgba(60, 180, 113, 0.7);
}

.item {
    font-family: sans-serif;
    background: rgb(255, 255, 255);
    border: 2px solid black;
    width: 25em;
    margin: 1em;
    padding: 0.5em 1em;
}

.img {
    float: right;
}

.container {
  margin: 0;
  padding: 0.4em 1em;
  max-width: 35em;
  text-align: start;
  font-family: sans-serif;
  background: rgb(255, 255, 255);
  border: 6px double black;
}