body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background: rgba(60, 180, 113, 0.7)
}

.item {
    font-family: sans-serif;
    background: rgb(255, 255, 255);
    border: 2px solid black;
    margin: 1em;
    padding: 0.2em 0.5em;
}