{% extends "layout.html" %}

{% block title %}Lintuhavainnot{% endblock %}

{% block content %}
<h3>Havainnon muokkaus</h3>

<form action="/update_item" method="post">
  <p>
    Lintulaji: <br />
    <input type="text" name="title" size="13" value="{{item.title}}" maxlength="40" required />
  </p>
  <p>Kuvaus: <br />
  <textarea name="description" rows="8" cols="50" maxlength="1000">{{ item.description}}</textarea>
  </p>
  <input type="hidden" name="item_id" value="{{ item.id }}" />
  <input type="hidden" name="city" value="{{ item.city }}" />
  {% for class in all_classes %}
  {% if class != '-Kunta-' %}
  <p>
    {{ class }}: <br />
    <select name="classes">
    <option value="">(valitse)</option>
    {% for option in all_classes[class] %}
    {% if classes[class] == option %}
    <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
    {% else %}
    <option value="{{ class }}:{{ option }}">{{ option }}</option>
    {% endif %}
    {% endfor %}
    </select>
  </p>
  {% endif %}
  {% endfor %}

  <input type="submit" value="Päivitä havaintoa" />
</form>
{% endblock %}