<!DOCTYPE html>
<html>

<head>
  <title>Lintuhavainnot</title>
</head>

<body>
  <h1>LINTUHAVAINNOT</h1>

  {% if session.user_id %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}
  
  
  <p>
    <a href="/">Etusivu</a>  |
    <a href="/find_item">Etsi havaintoja</a>  |
    {% if session.user_id %}
    <a href="/new_item">Uusi havainto</a>  |
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <a href="/login">Kirjaudu sisään</a>  |
    <a href="/register">Luo tunnus</a>
    {% endif %}  
    </p>

  <h2>Havainnot</h2>
  <ul>
    {% for item in items %}
    <li><a href="/item/{{item.id}}">{{item.title}}</a>, {{item.city}}</li>
    {% endfor %}
  </ul>
</body>

</html>