<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>LINTUHAVAINNOT</h1>

  {% if session.user_id %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}
  
  
  <p>
    <a href="/">Etusivu</a>  |
    <a href="/find_item">Etsi havaintoja</a>  |
    {% if session.user_id %}
    <a href="/new_item">Uusi havainto</a>  |
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <a href="/login">Kirjaudu sisään</a>  |
    <a href="/register">Luo tunnus</a>
    {% endif %}  
    </p>

    {% block content %}{% endblock %}
</body>

</html>