{% extends "layout.html" %}

{% block title %}Lintuhavainnot{% endblock %}

{% block content %}
<body>
    <h3>Uusi havainto</h3>
  <form action="/create_item" method="post">
    <p>
      Lintulaji: <br />
      <input type="text" name="title" size="13" maxlength="40" required />
    </p>
    <p>Kuvaus: <br />
    <textarea name="description" rows="8" cols="50" maxlength="1000"></textarea>
    </p>
    <p>
        Kunta: <br />
        <input type="text" name="city" size="10" maxlength="25" required />
    </p>
    {% for class in classes %}
    <p>
        {{ class }}: <br />
        <select name="classes">
            <option value="">(valitse)</option>
        {% for option in classes[class] %}
            <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endfor %}
        </select>
    </p>
    {% endfor %}
    <input type="submit" value="Luo havainto" />
  </form>
</body>
{% endblock %}