<!DOCTYPE html>
<html>

<head>
  <h2>{{item.title}}</h2>
</head>

<body>
    {% if session.user_id == item.user_id %}
    <p>
      <a href="/edit_item/{{ item.id }}">Muokkaa</a>
      <a href="/remove_item/{{ item.id }}">Poista</a>
    </p>
    {% endif %}
    <hl>{{item.description}}</hl>
    <p>
    <hl>Kunta: {{item.city}}</hl>
    </p>
    <p>
    <hl>Havainnon lisäsi: <a href="/user/{{ item.user_id }}">{{ item.username }}<a/></hl>

    {% if classes %}
      {% for class in classes %}
      <li>{{ class.title}}: {{ class.value }}</li>
      {% endfor %}
    {% endif %}
    </p>
    <p><a href="/">Takaisin</a>
    </p>
</body>

</html>